* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%)
}

.fontWeight {
    font-weight: 700;
}

.colorLightBlue {
    color: #1FC4AC;
}

.bg-darkCyan {
    background-color: hsl(183, 100%, 15%);
}


.svgHeight {
    height: 30px;
    margin-bottom: 7px;
    margin-right: 5px;
}

.tipDiv {
    border: none;
}

.plan-details:hover {
    background-color: #1FC4AC;
    color: hsl(183, 100%, 15%);
}


.inputCustom {
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
    border: none;
    outline: none;
    width: 100%;

}

.inputCustom::placeholder {
    color: hsl(186, 14%, 43%);
}

.inputCustom:focus {
    outline: 2px solid #1FC4AC;
    background-color: #ffff;
}

.cursorPointer {
    cursor: pointer;
}

.btn-reset {
    background-color: hsl(183.12, 78.69%, 23.92%);
    color: #ffff;
}

.btn-reset:hover {
    background-color: #1FC4AC;
    color: hsl(183, 100%, 15%);
}

.radio {
    display: none;
}

.radio:checked~.plan-details {
    background-color: #1FC4AC;
}

.errorMessage {
    display: none;
}